# Yaml config file for backup
# If you don't have python3-yaml installed, you can use json format instead

report:
  - email:
      subject_prefix: '[Backup] '
      to: 'samuel.deal@aziugo.com'
      sender: 'backup@aziugo.com'
      smtp_user: 'sender@aziugo.com'
      smtp_pwd: '~w8maj6!6729$Cd'
      smtp_server: 'mail.gandi.net'
      smtp_port: 465
  - file:
      output: /var/log/backup.log
      template: templates/file.template
  - syslog
  - webhook:
      url: 'https://chat.aziugo.com/hooks/ec7KPuK6zPRhsCN7e/zj7jvNETfbLzFZwfGP8JEBoNwtRxfgw2x3yj5fLukm3PcdTL'
      mapping: mapping/rocketchat.py#map_report

common:
  dest_folder: '/home/backups/current'
  ssh_user: 'backuper'
  ssh_key: '/home/sam/.ssh/id_rsa_zephy'
  db_user: 'backuper'
  local_history:
    folder: '/home/backups/past'
    memory:
      day: 4
      week: 2
      month: 3
      year: all
  aws_glacier:
    vault: 'eu-west-1:aziugo_backup'
    memory: week

include: servers/*.conf

api.zephy-science.com:
  prefix: api_
  files:
    zephycloud_v1: /home/zephyserver
    zephycloud_v2: /home/zephycloud
    exclude:
      - /home/zephyserver/uploads
      - /home/zephycloud/cloud_ssh_keys
  databases:
    zephycloud: 'postgres:5432:zephycloud'





